<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Shoping Cart', '/css/style.css', 'none')}"></head>

<body>
<div class="container-fluid">
  <!-- Header and search navigation -->
  <div th:replace="~{navigation :: header_menu}"></div>
  <div th:replace="~{navigation :: search_nav}"></div>

  <!-- Shopping Cart Title -->
  <div class="text-center my-4">
    <h1 class="display-4">Your Shopping Cart</h1>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <!-- Cart items -->
      <div th:each="item, status : ${cartItems}" th:with="product = ${item.product}" th:id="'row' + ${status.count}" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="divCount ml-2">[[${status.count}]]</div>
            <img th:src="@{${product.mainImagePath}}" class="img-fluid rounded-start" alt="Product Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <a th:href="@{'/p/' + ${product.alias}}" target="_blank" th:title="${product.name}">
                  [[${product.shortName}]]
                </a>
              </h5>
              <p class="card-text">
                <div th:replace="~{cart/quantity_control :: quantity_control(${item.quantity}, ${product.id})}"></div>
              </p>

              <p class="card-text">
                Product Price: <div th:replace="~{product/product_fragment :: product_price}"></div>
              </p>

              <p class="card-text">
                SubTotal:
                <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                <span th:id="'subtotal' + ${product.id}" class="h4 subtotal">[[${#numbers.formatDecimal(item.subtotal, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span>
                <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
              </p>
              <a class="btn btn-sm btn-outline-danger linkRemove" th:rowNumber="${status.count}" th:href="@{'/cart/remove/' + ${product.id}}">
                <i class="fas fa-trash me-1"></i> Remove
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4" id="sectionTotal">
      <!-- Cart summary -->
      <div th:unless="${#lists.isEmpty(cartItems)}">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Estimated Total:</h5>
            <h3 class="card-text">
              <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
              <span th:id="total" class="h2">[[${#numbers.formatDecimal(estimatedTotal, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span>
              <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
            </h3>
            <div th:if="${shippingSupported}">
              <form th:action="@{/checkout}">
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Proceed to Checkout</button>
              </form>
            </div>
            <div th:unless="${shippingSupported}">
              <div>
                <span class="h5 text-warning">No shipping available for your location</span>
              </div>

              <div th:if="${usePrimaryAddressAsDefault}">
                <a th:href="@{/account_details(redirect=cart)}" class="h6">Update your address</a>
              </div>

              <div th:unless="${usePrimaryAddressAsDefault}">
                <a th:href="@{/address_book(redirect=cart)}" class="h6">Use another shipping address</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Empty cart message -->
  <div id="sectionEmptyCartMessage" th:class="'text-center my-4' + (${#lists.isEmpty(cartItems)} ? '' : ' d-none')">
    <h3 class="display-5">Your shopping cart is empty.</h3>
  </div>

  <!-- Modal dialog and footer navigation -->
  <div th:replace="~{fragments :: modal_dialog}"></div>
  <div th:replace="~{navigation :: footer_menu}"></div>
</div>
<script type="text/javascript">

  contextPath = "[[@{/}]]";
  let csrfHeaderName = "[[${_csrf.headerName}]]";
  let csrfValue = "[[${_csrf.token}]]";

  let decimalDigits = [[${DECIMAL_DIGITS}]];
  let decimalPointType = "[[${DECIMAL_POINT_TYPE}]]";
  let thousandsPointType = "[[${THOUSANDS_POINT_TYPE}]]";

</script>
<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript" th:src="@{/js/shopping_cart.js}"></script>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>

</body>
</html>
